<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    
  <img src="../../../assets/icon/gifAnimado.gif" class="loading">

</div>


<ion-header color="primary">
  
  <ion-toolbar color="primary">
    <ion-back-button defaultHref="home" slot="start" color="light"  icon="arrow-back-circle"></ion-back-button>
      <h3 class="titulo">Encuestas</h3>
  
  </ion-toolbar>

</ion-header>


<ion-content>


  <div id='char_div'></div>
  
   <div id='char_divTwo'></div>
  

</ion-content>
