<ion-app>

  <!-- SPLASH -->
  <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    
    <div class="flb">
    
      <div class="splashAnimado">

        <img src="../assets/icon/iconLogoMovimiento.png" class = "img1">

      </div>
      
    </div>

    <div class="contenedor">
      <p>Integrante: </p>
      <ul>
        <li>Luciano Moreno</li>
        <li>Verónica Bustos</li>
      </ul>
    </div>
 
 </div>
 <!-- END Splash -->

 
<ion-router-outlet></ion-router-outlet>

</ion-app>