.todoCompleto{
    z-index: 9999999 !important;
    width: 80%;
    position: absolute !important;
    top: 0;
    left: 7%;
    background-color: rgba(0, 0, 0, 0.877);
  }
  

  h4.precioNombre
{
  display:inline;
}

h4.precio
{
  color: green;
  display:inline;
}

.alineacion-derecha{

  font-size: 15px;
  color:#332920; 
  text-align: left;

}

.alineacion-derecha-platito{
  font-size: 20px;
  color: snow; 
  text-align: left;

}

.precio
{
  text-align: right;
  color: green;
  display:inline;
  float: right;
}

.tiempo
{
  text-align: center;
  color: orangered;
  display:inline;
  float: right;
}

ion-content{
  --background:url("https://i.pinimg.com/564x/e3/a5/d0/e3a5d05f404c56afa57c023f4ba44612.jpg") 0 0/100% 100% no-repeat !important ;
}

.titulo{

  margin-left: 25%;
  color: rgb(22, 22, 22);
}