<ion-header>
  <ion-toolbar>
    <ion-title>Lista pedidos</ion-title>
  </ion-toolbar>
</ion-header>
 

<!--

   <ion-item>
             
                <ion-label>Cantidad</ion-label>
                <ion-select [(ngModel)]="pickedCant"  placeholder="Cantidad" (click)="seleccionCantidad(pickedCant,producto)">
                  <ion-select-option *ngFor="let cantidad of cantidadPedido" value="{{cantidad}}">{{cantidad}}</ion-select-option>
                </ion-select>

    </ion-item>




-->



<ion-content>

  <ion-button (click)="desplegarPedido()" expand="block">CONFIRMAR PEDIDO</ion-button>

      <ion-card class="todoCompleto" *ngIf="variabledesplegarPedido == true" >
              
        <ion-item class="labels" >
          <ion-label position="stacked">INFORMACION DEL PEDIDO:</ion-label>
          <br>

          <div *ngIf="pedidoEnFormatoJSON != null" >

          Su pedido son los siguientes platos:

          <h1> Platos principales: </h1>
          {{pedidoEnFormatoJSON.platosPlato}}

          <br>
          <h1> Bebidas: </h1>
          {{pedidoEnFormatoJSON.platosBebida}}

          <br>
          <h1> Postres: </h1>
          {{pedidoEnFormatoJSON.platosPostre}}

          <br>
          <h1> Precio total del pedido: </h1>
          {{pedidoEnFormatoJSON.precioTotal}}

          </div>
  

        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button (click)="confirmarPedido()" expand="block" color="success">Confirmar pedido</ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button (click)=" cancelarPedido()" expand="block" color="warning">Cancelar pedido</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-button (click)="desplegarInversoPedido()" expand="block" color="success">Cerrar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>

 
      <ion-card style = "background: lightyellow">
      <ion-card-content>
      PLATOS PRINCIPALES ------- Cantidad pedida: {{contadorPlatos}}
      </ion-card-content>
      </ion-card>

      <div *ngFor = "let producto of listaProductosTipoPlato">
        
          <ion-card>

            <ion-item >
              
              <ion-slides pager="true">
                <ion-slide>
                <img [src]="producto.fotos[2]" style=" height: 50%; width: 50%">
                </ion-slide>
                <ion-slide>
                <img [src]="producto.fotos[1]" style=" height: 50%; width: 50%">
                </ion-slide>
                <ion-slide>
                <img [src]="producto.fotos[2]" style=" height: 50%; width: 50%">
                </ion-slide>
              </ion-slides>

            <ion-button (click)="cargarJSONPedidosPlatos(producto.nombre, producto.tipo, producto.precio)" expand="block">Agregar</ion-button>
            <ion-label>
              <h1>{{producto.nombre}}  =  {{pickedCant}}</h1>
            </ion-label>
    
          </ion-item>
         
          
          </ion-card>
    
    
      </div>


  
    <ion-card style = "background: lightyellow">
    <ion-card-content>
      BEBIDAS ------- Cantidad pedida: {{contadorBebidas}}
    </ion-card-content>
    </ion-card>

      <div *ngFor = "let bebida of listaProductosTipoBebida">

        <ion-card>

        <ion-item >
              
          <ion-slides pager="true">
            <ion-slide>
            <img [src]="bebida.fotos[2]" style=" height: 50%; width: 50%">
            </ion-slide>
            <ion-slide>
            <img [src]="bebida.fotos[1]" style=" height: 50%; width: 50%">
            </ion-slide>
            <ion-slide>
            <img [src]="bebida.fotos[2]" style=" height: 50%; width: 50%">
            </ion-slide>
          </ion-slides>

          <ion-button (click)="cargarJSONPedidosPlatos(bebida.nombre, bebida.tipo, bebida.precio)" expand="block">Agregar</ion-button>
        <ion-label>
          <h1>{{bebida.nombre}}  =  {{pickedCant}}</h1>
        </ion-label>

      </ion-item>
       
        
        </ion-card>
  
  
    </div>
     

      <ion-card style = "background: lightyellow">
      <ion-card-content>
      POSTRES ------- Cantidad pedida: {{contadorPostres}}
      </ion-card-content>
      </ion-card>
    <div *ngFor = "let postre of listaProductosTipoPostre">


      <ion-card>
        
        <ion-item >
              
          <ion-slides pager="true">
            <ion-slide>
            <img [src]="postre.fotos[2]" style=" height: 50%; width: 50%">
            </ion-slide>
            <ion-slide>
            <img [src]="postre.fotos[1]" style=" height: 50%; width: 50%">
            </ion-slide>
            <ion-slide>
            <img [src]="postre.fotos[2]" style=" height: 50%; width: 50%">
            </ion-slide>
          </ion-slides>

          <ion-button (click)="cargarJSONPedidosPlatos(postre.nombre, postre.tipo, postre.precio)" expand="block">Agregar</ion-button>
        <ion-label>
          <h1>{{postre.nombre}}  =  {{pickedCant}}</h1>
        </ion-label>

      </ion-item>
     
      </ion-card>


  </div>

  
</ion-content>


<ion-footer class="ion-no-border">


  <!--

  <div>
<br>
 <h4 class = "precioNombre" >PRECIO TOTAL: </h4>  <h4 class = "precio">${{pedidoEnFormatoJSON.precioTotal}}</h4>
<br>
  </div>

  -->

 
  <ion-button color = "success" expand="block">PRECIO TOTAL: ${{pedidoEnFormatoJSON.precioTotal}}</ion-button>


</ion-footer>