
<div class="ion-page" id="maincontent">
  <ion-header color="primary">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="mainmenu"></ion-menu-button>
      </ion-buttons>
      <h3 class="titulo">¡Bienvenidos!</h3>
    </ion-toolbar>

  </ion-header>

<ion-content class="contenidoTotal">
 <ion-menu side="start" menuId="mainmenu" contentId="main">

  



  <ion-content > 

      <ion-list *ngIf = "perfilUsuario == 'Dueño' || perfilUsuario == 'Supervisor'" align="center">

        <ion-item >
            <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">

          <ion-label>
            <h2>Correo :</h2> <p> {{infoUsuario.correo}}</p>
            <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
          </ion-label>

        </ion-item>
        

      <br>

        <ion-button routerLink="/alta-empleado" align="center" expand="block" color="light">Registrar Empleado</ion-button>
        <ion-button routerLink="/alta-cliente" align="center" expand="block" color="light" >Registrar Cliente</ion-button>
      </ion-list>
  
      <ion-list *ngIf = "perfilUsuario == 'Metre'" align="center">

        <ion-item>
            <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">

          <ion-label>
            <h2>Correo :</h2> <p> {{infoUsuario.correo}}</p>
            <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
          </ion-label>

        </ion-item>
      <br>

        <ion-button routerLink="/alta-empleado" align="center" expand="block">Registrar Empleado</ion-button>
        <ion-button routerLink="/alta-cliente" align="center" expand="block">Registrar Cliente</ion-button>
      </ion-list>

      
      <!-- AGREGAR LOS DEMAS QUE FALTAN -->
      <ion-list *ngIf = "perfilUsuario == 'Cliente'" align="center">

        <ion-item>
            <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">

          <ion-label>
            <h2>Correo :</h2> <p> {{infoUsuario.correo}}</p>
            <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
          </ion-label>

        </ion-item>
      <br>
      </ion-list>

      <ion-list *ngIf = "perfilUsuario == 'Cocinero'" align="center">

        <ion-item>
            <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">

          <ion-label>
            <h2>Correo :</h2> <p> {{infoUsuario.correo}}</p>
            <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
          </ion-label>

        </ion-item>
      <br>

        <ion-button routerLink="/alta-producto" align="center" expand="block">Agregar Producto</ion-button>
      </ion-list>

      
      

   </ion-content>
   <ion-item (click)="cerrarSesion()">
   
    <ion-buttons slot="start">
      <ion-menu-button menu="mainmenu"></ion-menu-button>
      Cerrar Sesión
    </ion-buttons>
    <ion-label></ion-label>


    </ion-item>
</ion-menu> 
<ion-router-outlet id="main"></ion-router-outlet>


<!-- CONTENIDO DEL MENU DE ADENTRO -->

<div *ngIf = "perfilUsuario == 'Mozo'" >
  <ion-card *ngFor="let espera of listaEspera">
    <ion-card-content>La mesa {{espera.mesa}} quiere realizar una consulta.</ion-card-content>
    <ion-button >Consulta con exito</ion-button>
  </ion-card>

</div>

<div *ngIf = "perfilUsuario == 'Dueño' || perfilUsuario == 'Supervisor'"  >
    
  <ion-card *ngFor="let usuario of listaUsuarios" >

    <div *ngIf = "usuario.perfil == 'Cliente'">

      <ion-item >
        <ion-thumbnail slot="start">
        <img [src]="usuario.foto ">
        </ion-thumbnail>
        <ion-label>
          <h3>{{usuario.nombre}}</h3>
          <p>{{usuario.apellido}}</p>
          <p>{{usuario.correo}}</p>
        </ion-label>
      </ion-item>        
        <br>
        <ion-grid >
          <ion-row>
            <ion-col col-6>
              <ion-button color="success" (click)="organizarUsuario(usuario,'aceptado')" expand="block"> Aceptar</ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button color="danger" (click)="organizarUsuario(usuario,'rechazado')" expand="block"> Rechazar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  
   </div>


   <div *ngIf = "usuario.perfil == 'Anonimo'">
    {{usuario.nombre}}
    <br>
    <ion-button color="success" (click)="organizarUsuario(usuario,'aceptado')"> Aceptar</ion-button>
    <ion-button color="danger" (click)="organizarUsuario(usuario,'rechazado')"> Rechazar</ion-button>
   </div>

  </ion-card>
 
</div> 


<div *ngIf = "perfilUsuario == 'Metre'">

  <ion-card>
    <ion-card-content>
      Mesas disponibles : 
    </ion-card-content>
    <ion-card-content>
      Mesas reservadas : 
  </ion-card-content>
  <ion-card-content>
      Mesas ocupadas : 
</ion-card-content>
  </ion-card>

  <ion-card *ngFor="let mesa of listaEspera">

    <div *ngIf = "mesa.estadoMesa == 'enEspera'">
      <ion-card-content>
        {{mesa.nombreUsuario}}
        <br>
        {{mesa.perfilUsuario}}
        <br>
        {{mesa.estadoMesa}}
        <br>
        <ion-button color="success" (click)="comprobarMesas(mesa)" expand="block"> Asignar mesa</ion-button>
      </ion-card-content>
    
   </div>

  </ion-card>

</div> 

<div *ngIf = "tieneCorreo != 'conCorreo'">

  
  <ion-button color="danger" (click)="listaEsperaQRAnonimo()"> Escanear codigo</ion-button>
  

</div>


<!-- Si el perfil del usuario es cliente  -->
<div *ngIf = "perfilUsuario == 'Cliente'">

<!-- Si el estado de la mesa del cliente no se asigno, se le mostrara el boton para escanear el codigo qr   -->
  <div *ngIf = "informarEstadoMesa.seAsignoMesa == 'no'">
   
    <ion-button color="danger" (click)="listaEsperaQRCliente()"> Escanear codigo</ion-button>
  </div>
<!-- Si el estado de la mesa del cliente se asigno, se le mostrara la mesa que se le asigno   -->
  <div *ngIf = "informarEstadoMesa.seAsignoMesa == 'si'">
  
    <ion-card>
      <h2>SE LE ASIGNO LA MESA NRO = {{informarEstadoMesa.mesa}}</h2>
    </ion-card>
  
    <!--Agregar boton para escanear la mesa-->
    <ion-button color="danger" (click)="qrMesa()">QR Mesa</ion-button>
    
    <div *ngIf = "mostrarProductos == true">

      <div *ngFor = "let producto of listaProductos">
        <ion-card>
        <h1>{{producto.nombre}}</h1>

          <ion-slides pager="true">
            <ion-slide>
              <img [src]="producto.fotos[0]" alt="" width="100" height="100">
            </ion-slide>
            <ion-slide>
              <img [src]="producto.fotos[1]" alt="" width="100" height="100">
            </ion-slide>
            <ion-slide>
              <img [src]="producto.fotos[2]" alt="" width="100" height="100">
            </ion-slide>
          </ion-slides>

        <h4>{{producto.descripcion}}</h4>
        <h4 class = "precioNombre" >Precio: </h4>  <h4 class = "precio">${{producto.precio}}</h4>
        <h4>Tiempo: {{producto.tiempo}}m</h4>
      </ion-card>
      </div>
       
      <ion-button color="success" (click)="consultarMozo(informarEstadoMesa.mesa)" expand="block">Consultar mozo</ion-button>

    </div>
  </div>
</div>

</ion-content> 
  
</div>
