<!--<ion-header>
  <div  id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inbox</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-button expand="block" (onclick)="openMenu()">Open Menu</ion-button>
      <ion-button (click)="redireccionar('atras')" class="btnRegistro"  >Atras</ion-button>
      
    </ion-content>
  </div>
</ion-header>
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    
    <ion-list *ngIf = "perfilUsuario == 'Dueño' || perfilUsuario == 'Supervisor'" >
      <ion-item>
        <ion-button (click)="redireccionar('atras')" class="btnRegistro"  >Atras</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="redireccionar('empleado')" class="btnRegistro" expand="block"  >Alta empleado</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="redireccionar('supervisor')"class="btnRegistro" expand="block"  >Alta dueño/supervisor</ion-button>
      </ion-item>
    </ion-list>

    <ion-list *ngIf = "perfilUsuario == 'Cliente' || perfilUsuario == 'Metre'" >
      <ion-item>
        <ion-button (click)="redireccionar('atras')" class="btnRegistro"  >Atras</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="redireccionar('cliente')"class="btnRegistro" expand="block"  >Alta cliente</ion-button>
      </ion-item>

    </ion-list>

    <ion-list *ngIf = "perfilUsuario == 'Cocinero' || perfilUsuario == 'Bar tender'" >
      <ion-item>
        <ion-button (click)="redireccionar('atras')" class="btnRegistro"  >Atras</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="redireccionar('producto')" class="btnRegistro"  >Alta producto</ion-button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>





<ion-router-outlet id="main"></ion-router-outlet>
-->





<ion-content>
  Esto es home

  <div *ngIf = "perfilUsuario == 'Dueño' || perfilUsuario == 'Supervisor'"  >
    
  <ion-card *ngFor="let usuario of listaUsuarios">

    <div *ngIf = "usuario.perfil == 'Cliente'">
    {{usuario.nombre}}
    <br>
    {{usuario.apellido}}
    <br>
    {{usuario.correo}}
    <br>
    <ion-button color="success" (click)="organizarUsuario(usuario,'aceptado')"> Aceptar</ion-button>
    <ion-button color="danger" (click)="organizarUsuario(usuario,'rechazado')"> Rechazar</ion-button>
   </div>


   <div *ngIf = "usuario.perfil == 'Anonimo'">
    {{usuario.nombre}}
    <br>
    <ion-button color="success" (click)="organizarUsuario(usuario,'aceptado')"> Aceptar</ion-button>
    <ion-button color="danger" (click)="organizarUsuario(usuario,'rechazado')"> Rechazar</ion-button>
   </div>

  </ion-card>
 
</div> 


<div *ngIf = "perfilUsuario == 'Metre'">

  <ion-card *ngFor="let mesa of listaEspera">

    <div *ngIf = "mesa.estadoMesa == 'enEspera'">
    {{mesa.nombreUsuario}}
    <br>
    {{mesa.perfilUsuario}}
    <br>
    {{mesa.estadoMesa}}
    <br>
    <ion-button color="success"> Aceptar</ion-button>
    <ion-button color="danger"> Rechazar</ion-button>
   </div>

  </ion-card>

</div> 



<div *ngIf = "tieneCorreo != 'conCorreo'">

  <ion-button color="danger" (click)="listaEsperaQR()"> Escanear codigo</ion-button>

</div>


</ion-content>









<!--<ion-app>











  

<ion-menu side="start" content-id="main-content">

      <ion-header>
            <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
            </ion-toolbar>
      </ion-header>

      <ion-content>

        <ion-list>

            <ion-item>
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>Inbox</ion-label>
            </ion-item>

            <ion-item>
                <ion-icon name="paper-plane" slot="start"></ion-icon>
                <ion-label>Outbox</ion-label>
            </ion-item>

            <ion-item>
                <ion-icon name="heart" slot="start"></ion-icon>
                <ion-label>Favorites</ion-label>
            </ion-item>

            <ion-item>
                <ion-icon name="archive" slot="start"></ion-icon>
                <a href="alta-supervisor">Alta supervisor</a>
            </ion-item>

            <ion-item>
                <ion-icon name="trash" slot="start"></ion-icon>
                <ion-label>Trash</ion-label>
            </ion-item>

            <ion-item>
              <ion-button (click)="redireccionPrueba()" class="btnRegistro" expand="block"  >Redireccionar</ion-button>

            </ion-item>

        </ion-list>

      </ion-content>

</ion-menu>


    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Inbox</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <ion-button expand="block" (onclick)="openMenu()">Open Menu</ion-button>
        <ion-button (click)="redireccionar('atras')" class="btnRegistro"  >Atras</ion-button>

      </ion-content>
    </div>

</ion-app>
    


<ion-router-outlet id="main"></ion-router-outlet>

-->
<!--
<ion-content>

  <ion-button (click)="redireccionar('atras')" class="btnRegistro"  >Atras</ion-button>

  <div *ngIf = "perfilUsuario == 'Dueño' || perfilUsuario == 'Supervisor'" >
    <ion-button (click)="redireccionar('supervisor')"class="btnRegistro" expand="block"  >Alta dueño/supervisor</ion-button>
    <ion-button (click)="redireccionar('empleado')" class="btnRegistro" expand="block"  >Alta empleado</ion-button>
  </div>
</ion-content>

-->