
<div class="ion-page" id="maincontent">
  <ion-header color="primary">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="mainmenu"></ion-menu-button>
      </ion-buttons>
      <h3 class="titulo">¡Bienvenidos!</h3>
    </ion-toolbar>

  </ion-header>

<ion-content class="contenidoTotal">
 <ion-menu side="start" menuId="mainmenu" contentId="main">

  



  <ion-content  > 

      <ion-list *ngIf = "perfilUsuario == 'Dueño' || perfilUsuario == 'Supervisor'" align="center">

        <ion-item >
            <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">

          <ion-label>
            <h2>Correo :</h2> <p> {{infoUsuario.correo}}</p>
            <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
          </ion-label>

        </ion-item>
        

      <br>

        <ion-button routerLink="/alta-empleado" align="center" expand="block" color="light">Registrar Empleado</ion-button>
        <ion-button routerLink="/alta-cliente" align="center" expand="block" color="light" >Registrar Cliente</ion-button>
      </ion-list>
  
      <ion-list *ngIf = "perfilUsuario == 'Metre'" align="center">

        <ion-item>
            <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">

          <ion-label>
            <h2>Correo :</h2> <p> {{infoUsuario.correo}}</p>
            <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
          </ion-label>

        </ion-item>
      <br>

        <ion-button routerLink="/alta-empleado" align="center" expand="block">Registrar Empleado</ion-button>
        <ion-button routerLink="/alta-cliente" align="center" expand="block">Registrar Cliente</ion-button>
      </ion-list>

      
      <!-- AGREGAR LOS DEMAS QUE FALTAN -->
      <ion-list *ngIf = "perfilUsuario == 'Cliente'" align="center">

        <ion-item>
            <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">

          <ion-label>
            <h2>Correo :</h2> <p> {{infoUsuario.correo}}</p>
            <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
          </ion-label>

        </ion-item>
      <br>
          <!--Agregar boton para escanear la mesa-->
          
          <div *ngIf = "informarEstadoMesa.seAsignoMesa == 'si'">
            <ion-button color="danger" (click)="qrMesa()"  expand="block">QR Mesa</ion-button>
                </div>
            
    <div *ngIf="mostrarCuentaBoton == true">
      <ion-button color="light" (click)="mostrarEncuestaLista()"  expand="block">Encuesta</ion-button>
    </div>
    
    <div *ngIf="mostrarEncuestaBoton == true">
      <ion-button color="light" (click)="mostrarCuentaLista()"  expand="block">Cuenta</ion-button>
    </div>

  </ion-list>

      <!-- Si es un cliente anonimo -->
      <ion-list *ngIf = "perfilUsuario == 'Anonimo'" align="center">

        <ion-item >
            <img [src]="nombreAnonimo.foto " style=" height: 50%; width: 30%; ">

          <ion-label>
            <h2>Nombre :</h2> <p> {{nombreAnonimo.nombre}}</p>
            <h2>Perfil : </h2><p> {{nombreAnonimo.perfil}}</p>
          </ion-label>

        </ion-item>
        <br>

            <!--Agregar boton para escanear la mesa-->
            <div *ngIf = "informarEstadoMesa.seAsignoMesa == 'si'">
    <ion-button color="danger" (click)="qrMesa()"  expand="block">QR Mesa</ion-button>
        </div>
                
        <div *ngIf="mostrarCuentaBoton == true">
          <ion-button color="light" (click)="mostrarEncuestaLista()"  expand="block">Encuesta</ion-button>
        </div>
        
        <div *ngIf="mostrarEncuestaBoton == true">
          <ion-button color="light" (click)="mostrarCuentaLista()"  expand="block">Cuenta</ion-button>
        </div>
    
<!--***********************************************************************************************************************-->

      </ion-list>

        <ion-list *ngIf = "perfilUsuario == 'Mozo'" align="center">

          <ion-item >
              <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">
  
            <ion-label>
              <h2>Correo :</h2> <p> {{infoUsuario.correo}}</p>
              <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
            </ion-label>
  
          </ion-item>

          <ion-button (click)="mostrarConsultas()" align="center" expand="block">Consultas</ion-button>
          <ion-button (click)="mostrarPedidos()" align="center" expand="block">Pedidos pendientes</ion-button>
          <ion-button (click)="mostrarPedidosFinalizados()" align="center" expand="block">Pedidos finalizados</ion-button>
        </ion-list>
  
        
      <ion-list *ngIf = "perfilUsuario == 'Cocinero' || perfilUsuario == 'BarTender'" align="center">

        <ion-item>
            <img [src]="infoUsuario.foto " style=" height: 50%; width: 30%; ">

          <ion-label>
            <h2>Correo :</h2> <p> {{infoUsuario.correo}}</p>
            <h2>Perfil : </h2><p> {{infoUsuario.perfil}}</p>
          </ion-label>

        </ion-item>
      <br>

        <ion-button routerLink="/alta-producto" align="center" expand="block">Agregar Producto</ion-button>
      </ion-list>

      
      

   </ion-content>
   <ion-item (click)="cerrarSesion()">
   
    <ion-buttons slot="start">
      <ion-menu-button menu="mainmenu"></ion-menu-button>
      Cerrar Sesión
    </ion-buttons>
    <ion-label></ion-label>


    </ion-item>
</ion-menu> 
<ion-router-outlet id="main"></ion-router-outlet>


<!-- CONTENIDO DEL MENU DE ADENTRO -->

<div *ngIf = "perfilUsuario == 'Mozo'" >

  <div *ngIf="banderaMostrarPedidos == true">
    <ion-card *ngFor="let pedido of listaPedidos">
      <ion-card-content>La mesa {{pedido.mesa}} realizo el siguiente pedido:</ion-card-content>
      <div *ngFor="let plato of pedido.platosPlato">
        {{plato}} <br>
      </div>
      <div *ngFor="let plato of pedido.platosBebida">
        {{plato}} <br>
      </div>
      <div *ngFor="let plato of pedido.platosPostre">
        {{plato}} <br>
      </div>
    
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-button (click)="enviarPedidos(pedido.mesa)" expand="block" color="success">Enviar</ion-button>
           </ion-col>
          <ion-col col-6>
            <ion-button (click)="cancelarPedido(pedido.mesa)" expand="block" color="warning">Cancelar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
  </div>

  <div *ngIf="banderaMostrarConsultas == true">
    <ion-card *ngFor="let espera of listaEspera">
      <ion-card-content>La mesa {{espera.mesa}} realizo la siguiente consulta:</ion-card-content>
      <ion-card-content>{{espera.consultaDescripcion}}</ion-card-content>
      <ion-button expand="block" >Consulta con exito</ion-button>
    </ion-card>
  </div>

  <div *ngIf="mostrarPedidoFinalizado == true">
    <ion-card *ngFor="let pedidoFin of listaPedidosFinalizados">
      <ion-card-content>Los pedidos de la mesa {{pedidoFin.mesa}} estan preparados</ion-card-content>
      <ion-card-content>     
        <div *ngFor="let plato of pedidoFin.platosPlato">
        {{plato}} <br>
      </div>
      <div *ngFor="let plato of pedidoFin.platosBebida">
        {{plato}} <br>
      </div>
      <div *ngFor="let plato of pedidoFin.platosPostre">
        {{plato}} <br>
      </div></ion-card-content>
      <ion-button expand="block" color="success" (click)="enviarPedidoFinalizado(pedidoFin.mesa)">Enviar</ion-button>
    </ion-card>
  </div>
 
 

</div>

<!--*****************************************************************************************************-->
<div *ngIf = "perfilUsuario == 'Dueño' || perfilUsuario == 'Supervisor'"  >
    
  <ion-card *ngFor="let usuario of listaUsuarios" >

    <div *ngIf = "usuario.perfil == 'Cliente'">

      <ion-item >
        <ion-thumbnail slot="start">
        <img [src]="usuario.foto ">
        </ion-thumbnail>
        <ion-label>
          <h3>{{usuario.nombre}}</h3>
          <p>{{usuario.apellido}}</p>
          <p>{{usuario.correo}}</p>
        </ion-label>
      </ion-item>        
        <br>
        <ion-grid >
          <ion-row>
            <ion-col col-6>
              <ion-button color="success" (click)="organizarUsuario(usuario,'aceptado')" expand="block"> Aceptar</ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button color="danger" (click)="organizarUsuario(usuario,'rechazado')" expand="block"> Rechazar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  
   </div>

  </ion-card>
 
</div> 

<!--*****************************************************************************************************-->

<div *ngIf = "perfilUsuario == 'Metre'">

  <ion-card>
    <ion-card-content>
      Mesas disponibles : 
    </ion-card-content>
    <ion-card-content>
      Mesas reservadas : 
  </ion-card-content>
  <ion-card-content>
      Mesas ocupadas : 
</ion-card-content>
  </ion-card>

  <ion-card *ngFor="let mesa of listaEspera">

    <div *ngIf = "mesa.estadoMesa == 'enEspera'">
      <ion-card-content>
        {{mesa.nombreUsuario}}
        <br>
        {{mesa.perfilUsuario}}
        <br>
        {{mesa.estadoMesa}}
        <br>
        <ion-button color="success" (click)="comprobarMesas(mesa)" expand="block"> Asignar mesa</ion-button>
      </ion-card-content>
    
   </div>

  </ion-card>

</div> 

<!--*****************************************************************************************************-->

<!-- Si el perfil del usuario es ANONIMO  -->

<div *ngIf = "tieneCorreo != 'conCorreo'">

  <div *ngIf = "informarEstadoMesa.seAsignoMesa == 'no'">
  
    <ion-button color="danger" (click)="listaEsperaQRAnonimo()"  expand="block"> Escanear codigo</ion-button>
  
  </div>
  <div *ngIf = "informarEstadoMesa.seAsignoMesa == 'si'">
    <ion-card class="numeroMesa">
      <ion-card-content>
        Se le asigno la mesa <div> {{informarEstadoMesa.mesa}}</div>
      </ion-card-content>
    </ion-card>

    <div *ngIf = "mostrarCuentaDiv == true">

HOLA QUE TAL

    </div>
  
    <div *ngIf = "mostrarEncuestaDiv == true">
  
      ESTOY PROBANDO
  
    </div>
  
      <div *ngIf = "mostrarProductos == true">
  
        <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button color="success" (click)="desplegarConsulta()" expand="block">Consultar mozo</ion-button>
             </ion-col>
            <ion-col col-6>
              <ion-button color="warning" routerLink="/realizar-pedido" expand="block">Hacer pedido</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  
  
        <ion-card class="todoCompleto" *ngIf="deplegarConsultaMozo == true" >
          
          <ion-item class="labels" >
            <ion-label position="stacked"  >Consulta:</ion-label>
            <br>
            <ion-input type="text" [(ngModel)]="consulta" placeholder="Consulta.."></ion-input>
          </ion-item>
  
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-button (click)="consultarMozo(informarEstadoMesa.mesa)" expand="block" color="success">Enviar</ion-button>
               </ion-col>
              <ion-col col-6>
                <ion-button (click)="cancelarConsulta()" expand="block" color="warning">Cancelar</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
    
        </ion-card>
  
        <div *ngFor = "let producto of listaProductos">
          <ion-card>
          <h1>{{producto.nombre}}</h1>
  
            <ion-slides pager="true">
              <ion-slide>
                <img [src]="producto.fotos[0]" alt="" width="100" height="100">
              </ion-slide>
              <ion-slide>
                <img [src]="producto.fotos[1]" alt="" width="100" height="100">
              </ion-slide>
              <ion-slide>
                <img [src]="producto.fotos[2]" alt="" width="100" height="100">
              </ion-slide>
            </ion-slides>
  
          <h4 style="color:black">{{producto.descripcion}}</h4>
          <h4 style="color:black" >Precio: </h4>  <h4 class = "precio">${{producto.precio}}</h4>
          <h4 style="color:black">Tiempo: {{producto.tiempo}}m</h4>
        </ion-card>
        </div>
         
  
      </div>
    </div>
  
</div>


<!--*****************************************************************************************************-->

<!-- Si el perfil del usuario es CLIENTE  -->
<div *ngIf = "perfilUsuario == 'Cliente'">

<!-- Si el estado de la mesa del cliente no se asigno, se le mostrara el boton para escanear el codigo qr   -->
  <div *ngIf = "informarEstadoMesa.seAsignoMesa == 'no'">
   
    <ion-button color="danger" (click)="listaEsperaQRCliente()"  expand="block"> Escanear codigo</ion-button>
  </div>
<!-- Si el estado de la mesa del cliente se asigno, se le mostrara la mesa que se le asigno   -->
  <div *ngIf = "informarEstadoMesa.seAsignoMesa == 'si'">
  
    <ion-card class="numeroMesa">
      <ion-card-content>
        <h4 style="color:rgb(240, 240, 240); font-size: 20px;float: left;" >Se le asigno la mesa: </h4>  <h4 style="color: coral; font-size: 20px;float: center;">{{informarEstadoMesa.mesa}}</h4>
      </ion-card-content>
    </ion-card>
    

    <div *ngIf = "mostrarProductos == true">

      <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-button color="success" (click)="desplegarConsulta()" expand="block">Consultar mozo</ion-button>
           </ion-col>
          <ion-col col-6>
            <ion-button color="warning" routerLink="/realizar-pedido" expand="block">Hacer pedido</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

     


      <ion-card class="todoCompleto" *ngIf="deplegarConsultaMozo == true" >
        
        <ion-item style="background-color: black;">
          <ion-label position="stacked"  >Consulta:</ion-label>
          <br>
          <ion-input type="text" [(ngModel)]="consulta" placeholder="Consulta.."></ion-input>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-button (click)="consultarMozo(informarEstadoMesa.mesa)" expand="block" color="success">Enviar</ion-button>
             </ion-col>
            <ion-col col-6>
              <ion-button (click)="cancelarConsulta()" expand="block" color="warning">Cancelar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </ion-card>

      <div *ngFor = "let producto of listaProductos">
        <ion-card>
        <h1>{{producto.nombre}}</h1>

          <ion-slides pager="true">
            <ion-slide>
              <img [src]="producto.fotos[0]" alt="" width="100" height="100">
            </ion-slide>
            <ion-slide>
              <img [src]="producto.fotos[1]" alt="" width="100" height="100">
            </ion-slide>
            <ion-slide>
              <img [src]="producto.fotos[2]" alt="" width="100" height="100">
            </ion-slide>
          </ion-slides>

        <h4 style="color:black">{{producto.descripcion}}</h4>
        <h4 style="color:black" >Precio: </h4>  <h4 class = "precio">${{producto.precio}}</h4>
        <h4 style="color:black">Tiempo: {{producto.tiempo}}m</h4>
      </ion-card>
      </div>
       

    </div>
  </div>
</div>

<!--*****************************************************************************************************-->

<!-- Si el perfil del usuario es COCINERO  -->

<div *ngIf = "perfilUsuario == 'Cocinero'">

<ion-card *ngFor="let pedido of listaPedidoCocinero">
  
  <ion-card-content>
    <div>
      Mesa: {{pedido.mesa}}
    </div>
    <div *ngFor="let plato of pedido.platosPlato">
      {{plato}}<br>
    </div>
    <div *ngFor="let postre of pedido.platosPostre">
      {{postre}}
    </div>

    
    <div *ngIf="pedido.estadoChef == 'enProceso'">
      <ion-button color="success" (click)="elaborarPedido(pedido.mesa,'enPreparacion','Cocinero')" expand="block">Elaborar</ion-button>
  </div>
  <div *ngIf="pedido.estadoChef == 'enPreparacion'">
    <ion-button color="danger" (click)="elaborarPedido(pedido.mesa,'finalizado','Cocinero')" expand="block">Enviar</ion-button>
</div>

  </ion-card-content>
  
</ion-card>
</div>

<!--*****************************************************************************************************-->

<!-- Si el perfil del usuario es BAR TENDER  -->

<div *ngIf = "perfilUsuario == 'BarTender'">
  <ion-card *ngFor="let pedido of listaPedidoBartender">
  
    <ion-card-content>
      <div>
        Mesa: {{pedido.mesa}}
      </div>
      <div *ngFor="let bebida of pedido.platosBebida">
        {{bebida}}
      </div>

      <div *ngIf="pedido.estadoBartender == 'enProceso'">
          <ion-button color="success" (click)="elaborarPedido(pedido.mesa,'enPreparacion','BarTender')" expand="block">Elaborar</ion-button>
      </div>
      <div *ngIf="pedido.estadoBartender == 'enPreparacion'">
        <ion-button color="danger" (click)="elaborarPedido(pedido.mesa,'finalizado','BarTender')" expand="block">Enviar</ion-button>
    </div>
    </ion-card-content>
    
  </ion-card>

</div>


</ion-content> 
  
</div>
